html {
    font-size: 1em;
}

body {
    color: #444;
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #FFF;
}

a {
    color: #1380de;
}
a:hover, a:focus {
    color: #ff9900;
    text-decoration: underline;
}

h1, h2, h3 {
  font-weight: 300;
}

h1.alt, h2.alt, h3.alt {
    font-family: 'Gloria Hallelujah', cursive;
}

p {
  padding: 14px 0 0;
  margin: 0;
  text-align:justify;
}

header {
  padding: 20px 0;
  margin:0;
}

img.circle {
  margin: 0 auto;
  display: block;
  background: #FFF;
  border: 3px solid #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  border-radius: 100%;
  position: relative;
  max-width: 50%;
}

.primary-hero {
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
}

.primary-hero .header-copy {
    position: absolute;
    top: 12%;
    right: 5%;
    left: 38%;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2.2vw;
}
.primary-hero .header-copy p {
    padding: 0.5vw 0;
    text-align: center;
    line-height: 1.5em;
}

.primary-hero .sub-copy {
    font-size: 2vw;
    text-align: center;
    position: absolute;
    bottom: 12%;
    right: 6%;
    left: 40%;
}

.primary-content {
    min-height: 1080px;
    max-width: 1000px;
    margin: 0 auto;
}

nav {
  padding: 12px 0 16px;
  z-index: 2;
  text-align: center;
  font-size: 2.5vw;
}

nav a {
  padding: 4px 12px 8px;
  position: relative;
}

nav .brand {
    float: left;
    font-family: 'Gloria Hallelujah', cursive;
    top: 0;
    left: 0;
    position: absolute;
    color: #444;
    display: none;
}

nav .brand:hover {
    color: #ff9900;
}


nav .container a:hover,
nav .container a:focus {
  text-decoration: none;
}

nav .container a.selected,
nav .container a:active {
  text-decoration: none;
  color: #23527c;
  cursor: default;
}

nav .container a:after {
  color: transparent;
  content: "\f0d8";
  font-family: "FontAwesome";
  position: absolute;
  bottom: -9px;
  width: 100%;
  right: 0;
}
nav .container a:hover:after,
nav .container a:focus:after {
  color: #ff9900;
}

nav .container a.selected:after,
nav .container a.selected:hover:after,
nav .container a:active:after {
  color: #23527c;
}

.sticky header {
    border-bottom: solid transparent;
}

.sticky nav {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 6px 10px #FFF;
}

.item {
  padding-left: 20px;
  padding-top: 42px;
}

.item .item-super-title {
    font-size: 1.25em;
    font-weight: 600;
}

.item .item-title {
    margin: 0;
}

.item .item-date {
    color: #999;
    font-size: .8em;
}

.resource-list {
    padding: 10px 0 0;
}

.fa-external-link {
    font-size: .75em;
}

.loading-container img {
    opacity: 0.3;
}

.loader {
    background: url("/images/loader.gif") center center no-repeat;
    min-height: 180px;
    position: relative;
}
.loader::after {
    content: "Loading...";
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.75em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.loaded .loader {
    display: none;
}

.loading-container.loaded img {
    opacity: 1;
}

@media (min-width: 768px) {
  header.primary-hero .header-copy {
      font-size: 18px;
  }

  header img.circle {
    float: left;
    margin: 0 40px;
  }

  header h1 {
    text-align: left;
    font-size: 27pt;
    padding-top: 32px;
  }

  nav {
      font-size: 18px;
  }

  .sticky nav .brand {
      display: block;
  }

  .item {
    padding-left: 85px;
  }

}

@media (min-width: 992px) {
  header h1 {
    font-size: 42pt;
    padding-top: 42px;
  }

  header.primary-hero .header-copy {
      font-size: 24px;
  }
}

@media (min-width: 1200px) {
  header h1 {
    font-size: 50pt;
  }

  header.primary-hero .header-copy {
      font-size: 28px;
  }
}



/* Temp Typography */

body {
  font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1, h2, h3 {
    margin: .5em 0 0;
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 2.8em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}
