<h1>Where I'm Speaking</h1>

<div class="toggle"><span ng-class="{selected: showUpcomingEvents}" ng-click="toggle()">Upcoming</span><span ng-class="{selected: !showUpcomingEvents}" ng-click="toggle()">Past</span></div>


<div ng-if="showUpcomingEvents == undefined">
  <p>
    loading...
  </p>
</div>

<div ng-if="showUpcomingEvents === true">

  <div class="event" ng-repeat="event in events.upcoming">
    <strong class="date">{{event.displayDate}} {{event.time}}</strong>
    <h2 ng-if="event.url"><a ng-href="{{event.url}}">{{event.event}}</a></h2><h2 ng-if="!event.url">{{event.event}}</h2>
    <strong>
      {{event.title}}
    </strong>
    <p ng-repeat="paragraph in event.description">{{paragraph}}</p>
    <div ng-repeat="reference in references | filter: {'eventId': event.id}">
      <i ng-class="reference.icon"></i> <a ng-href="{{reference.url}}">{{reference.referenceText}}</a>
    </div>
  </div>

  <div class="event">
    <strong class="date">In the future</strong>
    <h2>At Your Event</h2>
    <strong>
      A super cool talk
    </strong>
    <p>
      If you're interested in asking me to speak at an event, <a href="mailto:mattplavoie@gmail.com">please reach out (mattplavoie@gmail.com)</a>.
    </p>
  </div>

</div>

<div ng-if="showUpcomingEvents === false">

  <div class="event" ng-repeat="event in events.past">
    <strong class="date">{{event.displayDate}} {{event.time}}</strong>
    <h2 ng-if="event.url"><a ng-href="{{event.url}}">{{event.event}}</a></h2><h2 ng-if="!event.url">{{event.event}}</h2>
    <strong>
      {{event.title}}
    </strong>
    <p ng-repeat="paragraph in event.description" ng-bind-html="paragraph"></p>
    <div ng-repeat="reference in references | filter: {'eventId': event.id}">
      <i ng-class="reference.icon"></i> <a ng-href="{{reference.url}}">{{reference.referenceText}}</a>
    </div>
  </div>

</div>
