<div ng-if="events == undefined" class="loader">
</div>

<div ng-if="events != undefined">
    <div ng-if="events.upcoming.length === 0">
        <h1>Upcoming Events</h1>

        <div class="item" ng-repeat="event in events.upcoming">
            <div class="item-super-title">{{event.event}}</div>
            <h3 class="item-title">{{event.title}}</h3>
            <div class="item-date">{{event.displayDate}} {{event.time}}</div>

            <p ng-repeat="paragraph in event.description" ng-bind-html="paragraph"></p>

            <div ng-repeat="resource in resources | filter: {'eventId': event.id}" class="resource-list">
                <i ng-class="resource.icon"></i>
                <a ng-href="{{resource.url}}" ng-attr-target="{{resource.file ? '_self' : '_blank'}}">{{resource.referenceText}}</a>
                <i class="fa fa-external-link" ng-if="!resource.file"></i>
            </div>
            <div ng-if="event.url" class="resource-list">
                <i class="fa fa-globe"></i>
                <a ng-href="{{event.url}}" target="_blank">View the event website</a>
                <i class="fa fa-external-link"></i>
            </div>
        </div>

        <div class="item" ng-if="events.upcoming.length === 0">
            <div class="item-super-title">At Your Event</div>
            <h3 class="item-title">An Awesome Talk</h3>
            <div class="item-date">In the future</div>
            <p>
                There's nothing I'm able to announce right now. But if you'd like to ask me about possibly speaking at an event, <a href="mailto:mattplavoie@gmail.com">please reach out (mattplavoie@gmail.com)</a>.
            </p>

        </div>
        <br /><br />
    </div>
    
    <h1>Past Events</h1>
    <div class="item" ng-repeat="event in events.past">
        <div class="item-super-title">{{event.event}}</div>
        <h3 class="item-title">{{event.title}}</h3>
        <div class="item-date">{{event.displayDate}} {{event.time}}</div>

        <p ng-repeat="paragraph in event.description" ng-bind-html="paragraph"></p>

        <div ng-repeat="resource in resources | filter: {'eventId': event.id}" class="resource-list">
            <i ng-class="resource.icon"></i>
            <a ng-href="{{resource.url}}" ng-attr-target="{{resource.file ? '_self' : '_blank'}}">{{resource.referenceText}}</a>
            <i class="fa fa-external-link" ng-if="!resource.file"></i>
        </div>
        <div ng-if="event.url" class="resource-list">
            <i class="fa fa-globe"></i>
            <a ng-href="{{event.url}}" target="_blank">View the event website</a>
            <i class="fa fa-external-link"></i>
        </div>
    </div>

</div>
